* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

h2{
  font-size: 24px;
  line-height: 24px;
}

p {
  font-size: 16px;
  line-height: 20px;
}

.cards {
  justify-content: space-around;
}

.card {
  background: #fff;
  border: 2px;
  border-radius: 5px;
  border-color: #aaa;
  height: 320px;
  width: 470px;
  margin-bottom: 10px;
}
